.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  width: 400px;
  height: 500px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-title {
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.change-btn--title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px !important;
}

.accept-btn {
  background-color: #a8c7fa !important;
  margin-bottom: 24px !important;
  width: 100%;
}
