@media (max-width: 1000px) {
  .list-item {
    font-size: 0.95rem !important;
  }
}

@media (max-width: 550px) {
  .list-item {
    font-size: 0.85rem !important;
  }

  .admin-page--container {
    flex-direction: column;
  }

  .ablility-list {
    width: 100%;
  }

  .cinema-info {
    flex-direction: column;
  }

  .addInfo {
    width: 100% !important;
  }

  .calc-width {
    width: 100% !important;
  }
}
